<!DOCTYPE html>
<html>
    <head>
        <title>Some website</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}
        <p>Irure nisi ad nulla nostrud. Magna officia esse veniam tempor dolore occaecat laboris consectetur aliqua proident cillum exercitation deserunt. Laborum sunt qui consequat dolor nostrud pariatur fugiat in. Minim culpa do mollit esse non consectetur eiusmod in eu occaecat in. Anim adipisicing sint sit nostrud excepteur fugiat nisi elit aliquip.</p>
        <p>{{welcomeMessage}}</p>
        
        {{> footer}}
    </body>
</html>